<div class="content" role="main" [@simpleFadeAnimation]="'in'">
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <img src="assets/prescription.svg" width="60" height="60" alt="Prescription" style="margin-left: -70px;">
        <h5 class="get-started">Sign Up For Services</h5>
        <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="500.119"
            height="1083.632" viewBox="0 0 516.119 1083.632">
            <path id="Path_40" data-name="Path 40"
                d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
                transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
        </svg>
    </div>

    <div class="container card-container">
        <div class="row height">
            <p>&nbsp;</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-3">
                <button class="btn" [routerLink]="['../../doctor/signup']">
                    <img [src]="doctorUrl" class="material-icons big-svg" width="200" height="200" alt="Doctor Signup">
                    <span class="card">
                        <img src="assets/home-page/doctor-login.svg" class="material-icons alignment-links"
                            style="margin-right: 10px;" width="24" height="24" alt="Doctor">
                        <span>Signup as Doctor</span>
                    </span>
                </button>
            </div>
            <div class="col-lg-6 col-sm-3">
                <button class="btn" [routerLink]="['../../patient/signup']">
                    <img [src]="patientUrl" class="material-icons big-svg" width="200" height="200"
                        alt="Patient SIgnup">
                    <span class="card">
                        <img src="assets/home-page/patient-login.svg" class="material-icons alignment-links"
                            style="margin-right: 10px;" width="24" height="24" alt="patient">
                        <span>Signup as Patient</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-3">
                <button class="btn" [routerLink]="['../../admin/signup']">
                    <img [src]="adminUrl" class="material-icons big-svg" width="200" height="200" alt="Admin Signup">
                    <span class="card">
                        <img src="assets/home-page/admin-login.svg" class="material-icons alignment-links"
                            style="margin-right: 10px;" width="24" height="24" alt="admin">
                        <span>Signup as Admin</span>
                    </span>
                </button>
            </div>
            <div class="col-lg-6 col-sm-3">
                <button class="btn" data-toggle="modal" data-target="#signup-guest">
                    <img [src]="guestUrl" class="material-icons big-svg" width="200" height="200" alt="Guest Signup">
                    <span class="card">
                        <img src="assets/home-page/sign-up.svg" class="material-icons alignment-links"
                            style="margin-right: 10px;" width="24" height="24" alt="signup">
                        <span>Signup as Guest</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="signup-guest" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Guest Signup</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="sign-up signup-form signup-form-modal">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" name="fullName" placeholder="Full Name"
                                        required="required" [(ngModel)]="guestProfile.fullName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                                    <input type="email" class="form-control" name="email" placeholder="Email Address"
                                        required="required" [(ngModel)]="guestProfile.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" name="password" placeholder="Password"
                                        required="required" [(ngModel)]="guestProfile.password.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="password" class="form-control" name="confirm_password"
                                        placeholder="Confirm Password" required="required"
                                        [(ngModel)]="confirmPassword">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-lg" data-dismiss="modal" (click)="emailSignup()">Submit</button>
                    <button class="btn btn-primary btn-lg" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>