@import "variables";

.spacer {
  flex: 1;
}

.get-started {
  margin: 20px -30px 25px 15px;
}

.content {
  display: flex;
  margin: 100px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.card {
  border-radius: 25px;
  border: 1px solid $grey-border;
  background-color: $grey-background;
  height: 35px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 200px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: $primary-background;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

button,
button:visited,
button:hover {
  color: $primary-font;
  text-decoration: none;
}

button:hover {
  color: $primary-font;
}

.col-lg-6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-lg-6 button {
  cursor: pointer;
  border: none !important;
  outline: 0 !important;
}

.big-svg {
  padding-bottom: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 575px) {
  .get-started {
    margin: 25px 0px 25px 10px;
  }

  .card.highlight-card {
    margin-left: 50px !important;
    width: 70% !important;
  }

  .big-svg {
    max-height: 80px;
  }

  .row,
  .col-sm-3 {
    padding-bottom: 10px;
    min-height: 100px;
  }

  .card-container {
    margin-top: 16px;
  }

  .content {
    margin: 82px auto 32px;
  }
}
