<div class="content" role="main" [@simpleFadeAnimation]="'in'">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img src="assets/prescription.svg" width="60" height="60" alt="Prescription" style="margin-left: -70px;">
    <h5 class="get-started">Get Started</h5>
    <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="500.119" height="1083.632"
      viewBox="0 0 516.119 1083.632">
      <path id="Path_40" data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>
  </div>

  <div class="card-container">
    <button class="card" [routerLink]="['../doctor']">
      <img src="assets/home-page/doctor-login.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="Doctor">
      <span>Doctor's Sign In</span>
    </button>

    <button class="card" [routerLink]="['../patient']">
      <img src="assets/home-page/patient-login.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="patient">
      <span>Patient's Sign In</span>
    </button>

    <button class="card" [routerLink]="['../admin']">
      <img src="assets/home-page/admin-login.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="admin">
      <span>Admin's Sign In</span>
    </button>

    <button class="card" [routerLink]="['signup']">
      <img src="assets/home-page/sign-up.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="signup">
      <span>Sign Up</span>
    </button>
  </div>
</div>