<div class="content" role="main" [@simpleFadeAnimation]="'in'">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img src="assets/prescription.svg" width="60" height="60" alt="Prescription" style="margin-left: -70px;">
    <h5 class="get-started">Get Started</h5>
  </div>

  <div class="card-container">
    <button class="card" [routerLink]="['signin']" [state]="{ user: 'doc' }">
      <img src="assets/home-page/doctor-login.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="Doctor">
      <span>Doctor's Sign In</span>
    </button>

    <button class="card" [routerLink]="['signin']" [state]="{ user: 'pat' }">
      <img src="assets/home-page/patient-login.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="patient">
      <span>Patient's Sign In</span>
    </button>

    <button class="card" [routerLink]="['signin']" [state]="{ user: 'admin' }">
      <img src="assets/home-page/admin-login.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="admin">
      <span>Admin's Sign In</span>
    </button>

    <button class="card" [routerLink]="['signin']" [state]="{ user: 'guest' }">
      <img src="assets/home-page/guest-login.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="admin">
      <span>Guest's Sign In</span>
    </button>

    <button class="card" [routerLink]="['signup']">
      <img src="assets/home-page/sign-up.svg" class="material-icons alignment-links" style="margin-right: 10px;"
        width="24" height="24" alt="signup">
      <span>Sign Up</span>
    </button>
  </div>
</div>