@import "variables";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primary-background;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 4%;
  width: 100%;
  font-weight: 600;
  background-color: $primary-background;
  color: white;
}

.footer-text {
  position: inherit;
  margin-top: 0.5%;
  margin-left: 1%;
}

.logout {
  position: absolute;
  right: 20px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6%;
    width: 100%;
    font-weight: 400;
    background-color: $primary-background;
    color: white;
  }

  .footer-text {
    position: inherit;
    margin-top: 0.6%;
    margin-left: 3%;
  }
}
