/* Colors */
$primary-background : #4b006e;
$secondary-background: #7000a3;
$tertiary-background: #4b006e;

$grey-background: #f1f0f0;
$blue-font: #1976d2;
$grey-border: #eeeeee;

$primary-font: #4b006e;
$secondary-font: #ffffff;
$tertiary-font: #ffffff;

// Cavemen
$color-black: #13242c;
$color-white: #fff;
$color-red-1: $primary-background;
$color-red-2: #21094e;
$color-skin-1: #eab08c;
$color-skin-2: #d9766c;
$color-skin-3: #b2524d;
$color-hair: #13242c;
$color-wood-1: #601513;
$color-wood-2: #410a09;