<div>
    <form [formGroup]="signinFormGroup" (submit)="submitSignInData()">
        <div>
            <label>Email ID: </label>
            <input type="email" name="emailID" formControlName="emailID" placeholder="Enter your Email Id">
        </div>
        <div>
            <label>Password: </label>
            <input type="password" name="password" formControlName="password" placeholder="Enter your password">
        </div>
        <button type="submit" value="Sign In">Sign In</button>
    </form>

    <!-- <doctor-prescription [doctorID]="currentDoctorID"></doctor-prescription> -->
</div>