/* You can add global styles to this file, and also import other style files */
@import "variables";

.main {
  margin: 8px;
}

/* Signin and Signup CSS */

.form-control,
.form-control:focus,
.input-group-addon {
  border-color: #e1e1e1;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.1rem $secondary-background !important;
}

button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.1rem $secondary-background !important;
}

button:active,
button:disabled {
  background-color: $grey-background !important;
  color: $primary-background !important;
}

button:disabled {
  cursor: not-allowed;
}

.form-control,
.modal,
.btn {
  border-radius: 3px;
}

.signup-form {
  font-family: "Roboto", sans-serif;
  width: 500px;
  margin: auto;
  padding: 50px 0;
  align-items: center;
}

.signup-form-modal {
  font-family: "Roboto", sans-serif;
  margin: auto;
  width: 100%;
  padding: 0px;
}

.signup-form form,
form .signup-form {
  color: white;
  border-radius: 3px;
  margin-bottom: 15px;
  background: $primary-background;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form h2 {
  color: white;
  font-weight: bold;
  margin-top: 0;
}

.signup-form hr {
  margin: 0 -30px 20px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form label {
  font-weight: normal;
  font-size: 13px;
}

.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}

.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}

.signup-form input[type="checkbox"],
.signup-form input[type="text"] {
  margin: 1px;
}

.signup-form a {
  color: white;
  text-decoration: underline;
}

.signup-form a:hover {
  color: white;
  text-decoration: none;
}

.signup-form .fa {
  font-size: 21px;
}

.signup-form .fa-paper-plane {
  font-size: 18px;
}

.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

.modal .btn,
.signup-form .btn {
  border-radius: 3px;
  margin: 0 0 0 60px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  background: $grey-background;
  border: none;
  min-width: 140px;
}

.modal .btn:hover,
.modal .btn:focus,
.signup-form .btn:hover,
.signup-form .btn:focus {
  color: white;
  background: $secondary-background;
  border: 0px 2px 2px rgba(0, 0, 0, 0.3);
  outline: none;
}

.modal .btn-primary {
  background-color: $primary-background;
  color: white;
}

.modal-dialog-terms {
  max-width: 1000px !important;
}

.modal-footer {
  justify-content: center !important;
}

@media (max-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .signup-form {
    width: 345px;
    margin: 100px auto;
    padding: 0px 0;
    overflow-y: scroll;
  }

  .signup-form-modal {
    width: 330px;
    margin: auto;
    padding: 0px 0;
    overflow: hidden;
  }

  .signup-form .btn,
  .modal .btn {
    margin: 0 0 0 37px;
    align-items: center;
    min-width: 100px;
  }
}
