/* You can add global styles to this file, and also import other style files */
@import "variables";

.main {
  margin: 8px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }

  .card.highlight-card {
    margin-left: 25px !important;
    width: 55% !important;
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }

  .card.highlight-card {
    margin-left: 25px !important;
    width: 55% !important;
  }
}

/* Signin and Signup CSS */

.form-control,
.form-control:focus,
.input-group-addon {
  border-color: #e1e1e1;
}

.form-control,
.btn {
  border-radius: 3px;
}

.signup-form {
  font-family: "Roboto", sans-serif;
  width: 500px;
  margin: 150px auto;
  padding: 50px 0;
}

.signup-form form {
  color: white;
  border-radius: 3px;
  margin-bottom: 15px;
  background: $primary-background;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form h2 {
  color: white;
  font-weight: bold;
  margin-top: 0;
}

.signup-form hr {
  margin: 0 -30px 20px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form label {
  font-weight: normal;
  font-size: 13px;
}

.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}

.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}

.signup-form input[type="checkbox"],
.signup-form input[type="text"] {
  margin: 1px;
}

.signup-form a {
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: $grey-background;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.signup-form .fa {
  font-size: 21px;
}

.signup-form .fa-paper-plane {
  font-size: 18px;
}

.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

.signup-form .btn {
  border-radius: 3px;
  margin: 0 40px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  background: $grey-background;
  border: none;
  min-width: 140px;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
  color: white;
  background: $secondary-background;
  border: 0px 2px 2px rgba(0, 0, 0, 0.3);
  outline: none;
}
