/* Colors */
$primary-background : #4b006e;
$secondary-background: #4b006e;
$tertiary-background: #4b006e;

$grey-background: #f1f0f0;
$blue-font: #1976d2;
$grey-border: #eeeeee;

$primary-font: #4b006e;
$secondary-font: #ffffff;
$tertiary-font: #ffffff;
